﻿@model IEnumerable<SSA.Models.CatWPView>

@{
    Layout = null;
}

<div class="widget row">
    @*<h5> Product Categories</h5>*@

    <ul>

        @foreach (var item in Model)
        {
            <li><a href="/Product/SearchProduct/@Html.DisplayFor(modelItem => item.CategoryName)">@Html.DisplayFor(modelItem => item.CategoryName) (@Html.DisplayFor(modelItem => item.NoOfProducts))</a></li>
        }
        <li><a href="/Product/SearchProduct">View All</a></li>
    </ul>
</div>
