﻿@model SSA.Models.ProductListViewModel

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>MediaCenter - Responsive eCommerce Template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.transitions.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.min.css")">
   
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")">

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
            <!-- ========================================= PRODUCT FILTER ========================================= -->
            <div class="widget">
                <h1>Product Filters</h1>
                <div class="body bordered">

                    <div class="category-filter">
                        <h2>Brands</h2>
                        <hr>
                        <ul>
                            <li><input checked="checked" class="le-checkbox" type="checkbox" /> <label>Samsung</label> <span class="pull-right">(2)</span></li>
                            <li><input class="le-checkbox" type="checkbox" /> <label>Dell</label> <span class="pull-right">(8)</span></li>
                            <li><input class="le-checkbox" type="checkbox" /> <label>Toshiba</label> <span class="pull-right">(1)</span></li>
                            <li><input class="le-checkbox" type="checkbox" /> <label>Apple</label> <span class="pull-right">(5)</span></li>
                        </ul>
                    </div><!-- /.category-filter -->

                    <div class="price-filter">
                        <h2>Price</h2>
                        <hr>
                        <div class="price-range-holder">
                            <input type="text" class="price-slider" value="">
                            <span class="min-max">
                                Price: $89 - $2899
                            </span>
                            <span class="filter-button">
                                <a href="#">Filter</a>
                            </span>
                        </div>
                    </div><!-- /.price-filter -->
                </div><!-- /.body -->
            </div><!-- /.widget -->
            <!-- ========================================= PRODUCT FILTER : END ========================================= -->
            <!-- ========================================= CATEGORY TREE ========================================= -->
            <div class="widget accordion-widget category-accordions">
                <h1 class="border">Category Tree</h1>
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                laptops &amp; computers
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                @{
                                    Html.RenderAction("CategoryWiseProduct", "Product");
                                    //Html.RenderAction("CategoryWiseProduct", "Product", new { CAT = Model.CurrentCategory });
                                }
                           
                            </div><!-- /.accordion-inner -->
                        </div>
                    </div><!-- /.accordion-group -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseTwo">
                                desktop PC
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href="#">gaming</a></li>
                                    <li><a href="#">office</a></li>
                                    <li><a href="#">kids</a></li>
                                    <li><a href="#">for women</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse3">
                                laptops
                            </a>
                        </div>
                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href="#">light weight</a></li>
                                    <li><a href="#">wide monitor</a></li>
                                    <li><a href="#">ultra laptop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse4">
                                notebooks
                            </a>
                        </div>
                        <div id="collapse4" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href="#">light weight</a></li>
                                    <li><a href="#">wide monitor</a></li>
                                    <li><a href="#">ultra laptop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->
                </div><!-- /.accordion -->
            </div><!-- /.category-accordions -->
            <!-- ========================================= CATEGORY TREE : END ========================================= -->
            <!-- ========================================= LINKS ========================================= -->
            <div class="widget">
                <h1 class="border">information</h1>
                <div class="body">
                    <ul class="le-links">
                        <li><a href="#">delivery</a></li>
                        <li><a href="#">secure payment</a></li>
                        <li><a href="#">our stores</a></li>
                        <li><a href="#">contact</a></li>
                    </ul><!-- /.le-links -->
                </div><!-- /.body -->
            </div><!-- /.widget -->
            <!-- ========================================= LINKS : END ========================================= -->
            <div class="widget">
                <div class="simple-banner">
                    <a href="#"><img alt="" class="img-responsive" src="assets/images/blank.gif" data-echo="assets/images/banners/banner-simple.jpg" /></a>
                </div>
            </div>
            <!-- ========================================= FEATURED PRODUCTS ========================================= -->
            <div class="widget">
                <h1 class="border">Featured Products</h1>
                <ul class="product-list">

                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-small-01.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">Netbook Acer </a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->
                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-small-02.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->
                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-small-03.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->
                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-small-01.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">Netbook Acer </a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->

                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-small-02.jpg" />
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->
                </ul><!-- /.product-list -->
            </div><!-- /.widget -->
            <!-- ========================================= FEATURED PRODUCTS : END ========================================= -->
        </div>
        <!-- ========================================= SIDEBAR : END ========================================= -->
        <!-- ========================================= CONTENT ========================================= -->
        <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
            <div id="grid-page-banner">
                <a href="#">
                    <img src="assets/images/banners/banner-gamer.jpg" alt="" />
                </a>
            </div>
            <section id="gaming">
                <div class="grid-list-products">
                    <h2 class="section-title">Gaming</h2>

                    @*<div class="control-bar">*@
                        @*<div id="popularity-sort" class="le-select">
                            <select data-placeholder="sort by popularity">
                                <option value="1">1-100 players</option>
                                <option value="2">101-200 players</option>
                                <option value="3">200+ players</option>
                            </select>
                        </div>

                        <div id="pageSize" class="le-select">
                            <select id="pageSize">
                                <option value="1">24</option>
                                <option value="2">48</option>
                                <option value="3">32</option>
                            </select>
                        </div>*@
                        <div class="tab-holder">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                @if (Model.CurrentCategory == null)
                                {
                                    <li><a href="/Product/SearchProduct">Products</a></li>
                                    <li><a href="/Store/SearchStore">Stores</a></li>
                                }
                                else
                                {
                                    <li><a href="/Product/SearchProduct/@Model.CurrentCategory">Products</a></li>
                                    <li><a href="/Store/SearchStore/@Model.CurrentCategory">Stores</a></li>
                                }


                            </ul>
                        </div>
                            <div class="grid-list-buttons">
                                <ul>
                                    <li class="grid-list-button-item active"><a data-toggle="tab" href="#grid-view"><i class="fa fa-th-large"></i> Grid</a></li>
                                    <li class="grid-list-button-item "><a data-toggle="tab" href="#list-view"><i class="fa fa-th-list"></i> List</a></li>
                                </ul>
                            </div>
                        @*</div>*@<!-- /.control-bar -->

                    <div class="tab-content">
                        <div id="grid-view" class="products-grid fade tab-pane in active">
                            <div class="product-grid-holder">
                                <div class="row no-margin">

                                @foreach (var item in Model.ProductSearch)
                                {
                                    <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            @*<div class="ribbon red"><span>sale</span></div>*@
                                          
                                            <div class="image">
                                                <img alt="" src="@Url.Content("~/Content/images/blank.gif")" data-echo="@Url.Content("~/Content/images/products/product-01.jpg")" />
                                            </div>
                                            <div class="body">
                                                @*<div class="label-discount green">-50% sale</div>*@
                                              
                                                <div class="title">
                                                    <a href="single-product.html">@item.ProductName</a>
                                                </div>
                                                <div class="brand">@item.VendorName</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">@item.UnitPrice</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-item -->
                                    </div><!-- /.product-item-holder -->
                                }

                                </div><!-- /.row -->
                            </div><!-- /.product-grid-holder -->
                            <div class="pagination-holder">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-6 text-left">
                                        <ul class="pagination ">
                                            @if (Model.CurrentCategory == null)
                                            {
                                                if (!(Model.PagingInfo.PreviousPage < 1))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.PagingInfo.PreviousPage">Previous</a></li>
                                                }

                                                if (!(Model.PagingInfo.NextPage > Model.PagingInfo.TotalPages))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.PagingInfo.NextPage">Next</a></li>
                                                }
                                                <br />
                                                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                                                {
                                                    <li><a href="/Product/SearchProduct/@i">@i</a></li>
                                                }
                                                <li></li>
                                            }
                                            else
                                            {
                                                if (!(Model.PagingInfo.PreviousPage < 1))
                                                {
                                                    <li><a class="navbtn" href="/Product/SearchProduct/@Model.CurrentCategory/@Model.PagingInfo.PreviousPage">Previous Page</a> </li>
                                                }

                                                if (!(Model.PagingInfo.NextPage > Model.PagingInfo.TotalPages))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.CurrentCategory/@Model.PagingInfo.NextPage"> Next Page</a></li>
                                                }
                                                <br />
                                                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.CurrentCategory/@i">@i</a></li>
                                                }
                                                <li></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="result-counter">
                                            @*Showing <span>   ((@Model.PagingInfo.CurrentPage-1) * @Model.PagingInfo.ItemsPerPage) to (@Model.PagingInfo.ItemsPerPage * @Model.PagingInfo.CurrentPage)</span> of <span>@Model.PagingInfo.TotalItems</span> results*@
                                            @{
                                                int beginRecord = ((Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage) + 1;
                                                int endRecord = beginRecord + Model.ProductSearch.Count() - 1;
                                            }
                                            Showing <span> @beginRecord - @endRecord  </span> of <span>@Model.PagingInfo.TotalItems</span> results
                                        </div>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.pagination-holder -->
                         @*pagination code here*@
                        </div><!-- /.products-grid #grid-view -->
                        <div id="list-view" class="products-grid fade tab-pane ">
                            <div class="products-list">
                            @foreach (var item in Model.ProductSearch)
                            { 
                                <div class="product-item product-item-holder">
                                    @*<div class="ribbon red"><span>sale</span></div>
                                    <div class="ribbon blue"><span>new!</span></div>*@
                                    <div class="row">
                                        <div class="no-margin col-xs-12 col-sm-4 image-holder">
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                            </div>
                                        </div><!-- /.image-holder -->
                                        <div class="no-margin col-xs-12 col-sm-5 body-holder">
                                            <div class="body">
                                                @*<div class="label-discount green">-50% sale</div>*@
                                                <div class="title">
                                                    <a href="single-product.html">@item.ProductName</a>
                                                </div>
                                                <div class="brand">@item.VendorName</div>
                                                <div class="excerpt">
                                                    <p>@item.ProductDescription</p>
                                                </div>
                                                <div class="addto-compare">
                                                    <a class="btn-add-to-compare" href="#">add to compare list</a>
                                                </div>
                                            </div>
                                        </div><!-- /.body-holder -->
                                        <div class="no-margin col-xs-12 col-sm-3 price-area">
                                            <div class="right-clmn">
                                                <div class="price-current">@item.UnitPrice</div>
                                                @*<div class="price-prev">$1399.00</div>*@
                                                <div class="availability"><label>availability:</label><span class="available"> @item.ProductAvailable</span></div>
                                                <a class="le-button" href="#">add to cart</a>
                                                <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                            </div>
                                        </div><!-- /.price-area -->
                                    </div><!-- /.row -->
                                </div><!-- /.product-item -->
                            }
                            </div><!-- /.products-list -->
                            <div class="pagination-holder">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-6 text-left">
                                        <ul class="pagination ">
                                            @if (Model.CurrentCategory == null)
                                            {
                                                if (!(Model.PagingInfo.PreviousPage < 1))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.PagingInfo.PreviousPage">Previous</a></li>
                                                }

                                                if (!(Model.PagingInfo.NextPage > Model.PagingInfo.TotalPages))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.PagingInfo.NextPage">Next</a></li>
                                                }
                                                <br />
                                                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                                                {
                                                    <li><a href="/Product/SearchProduct/@i">@i</a></li>
                                                }
                                                <li></li>
                                            }
                                            else
                                            {
                                                if (!(Model.PagingInfo.PreviousPage < 1))
                                                {
                                                    <li><a class="navbtn" href="/Product/SearchProduct/@Model.CurrentCategory/@Model.PagingInfo.PreviousPage">Previous Page</a> </li>
                                                }

                                                if (!(Model.PagingInfo.NextPage > Model.PagingInfo.TotalPages))
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.CurrentCategory/@Model.PagingInfo.NextPage"> Next Page</a></li>
                                                }
                                                <br />
                                                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                                                {
                                                    <li><a href="/Product/SearchProduct/@Model.CurrentCategory/@i">@i</a></li>
                                                }
                                                <li></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="result-counter">
                                            @*Showing <span>   ((@Model.PagingInfo.CurrentPage-1) * @Model.PagingInfo.ItemsPerPage) to (@Model.PagingInfo.ItemsPerPage * @Model.PagingInfo.CurrentPage)</span> of <span>@Model.PagingInfo.TotalItems</span> results*@
                                            @{
                                                int beginRecordList = ((Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage) + 1;
                                                int endRecordList = beginRecordList + Model.ProductSearch.Count() - 1;
                                            }
                                            Showing <span> @beginRecordList - @endRecordList  </span> of <span>@Model.PagingInfo.TotalItems</span> results
                                        </div>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.pagination-holder -->   <!-- /.pagination-holder -->
                        </div><!-- /.products-grid #list-view -->
                    
                      
                    </div><!-- /.tab-content -->
                </div><!-- /.grid-list-products -->
            </section><!-- /#gaming -->
        </div><!-- /.col -->
        <!-- ========================================= CONTENT : END ========================================= -->
    </div><!-- /.container -->
</body>