﻿@model IEnumerable<SSA.Models.CatWPView>

@{
    Layout = null;
}

<div class="widget row">
    @*<h5> Product Categories</h5>*@

    <ul>

        @foreach (var item in Model)
        {         
           if (TempData["SearchType"] != null)
            {
                <li><a href="/Category/Index/@TempData["SearchType"]/@Html.DisplayFor(modelItem => item.CategoryName)">@Html.DisplayFor(modelItem => item.CategoryName) (@Html.DisplayFor(modelItem => item.NoOfProducts))</a></li>
            }
            else
            {
                <li><a href="/Category/Index/Products/@Html.DisplayFor(modelItem => item.CategoryName)">@Html.DisplayFor(modelItem => item.CategoryName) (@Html.DisplayFor(modelItem => item.NoOfProducts))</a></li>
            }
        }
        <li><a href="/Category/Index">View All</a></li>
    </ul>
</div>
